//File : base.scss
//This file contained within this file are all your resets, variables, mixins, and any utility classes.

//COLORS
$main-color:#ff2a2a;
$main-lighter-color: #fff5f5;
$secondary-color: #FFF12A;
$text-color:#272727;
$main-gradient: linear-gradient(130deg, rgba(239, 239, 239, 1) 25%, rgba(255, 255, 255, 1) 80%);

//MARGIN-PADDING
$padding-above: 1.5em;
$padding-inner:0 4em;
$padding-under: 2rem;

//FONTSIZE
$h1-size: 4.3em;
$text-size: 1.5em;
$smallicon: 2.5rem;

//WIDTH,HEIGHT
$about-scale:55%;


//MIXINS
@mixin fullsize {
    width: 100vw;
    height: 100vh;
}

@mixin flexy {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: $padding-inner;
}

@mixin rowFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
@mixin colFlex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

//MAPS
$fontweights:(400,
    500,
    700,
    900);

@each $fontweight in $fontweights {
    %f-#{$fontweight} {
        font-weight: #{$fontweight};
    }
}

$psizes:(1,
    2,
    3);

@each $psize in $psizes {
    .ps-#{$psize} {
        font-size: #{$psize}em;
    }
}
