h1{
    font-size: $h1-size;
    border-bottom: 10px solid $main-color;
    display: inline-block;
    margin-bottom: $padding-under;
    
   @extend %f-900;
}
//BUTTONS

//main button
@mixin btnz($btncolor){
    background-color: $btncolor;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
    @extend %f-900;
    margin-bottom: $padding-under;    
}

//carousel buttons
@mixin carBtn{
    height: 90px;
    width: 70px;
    background: rgba(255,255,255, .5);
    border: none;
    outline: none;
    font-size: $text-size;
}

@mixin container($contColor,$heightSize){
    background: $contColor;
    width: 100%;
    height: $heightSize;
    padding: $padding-inner;
    padding-top: $padding-above;
    text-align: center;
}


