h1{
    font-size: $h1-size;
    border-bottom: 10px solid $main-color;
    display: inline-block;
    margin-bottom: $padding-under;
    
   @extend %f-900;
}

@mixin btnz($btncolor){
    background-color: $btncolor;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.2rem;
    @extend %f-900;
    margin-bottom: $padding-under;    
}

//if $contColor==white -> height: auto else height : 100vh;
//@function autoHeight ($contColor){
//    @if($contColor==white){
//        @return height:10vh;        
//    } @else {
//        @return height: 100vh;
//    }   
//}

@mixin container($contColor,$heightSize){
    background: $contColor;
    width: 100%;
    height: $heightSize;
    padding: $padding-inner;
    padding-top: $padding-above;
}


