//File : _layout.scss
//This file contains all web layout elements
@import 'base';
@import 'components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.background {
    background-color: $main-color;
    color: $text-color;
    padding: 0 50px;
}

.navbar {
    background-color: $main-lighter-color;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.23);
    height: 10vh;
    position: relative;
    z-index: 1;

    ul {
        @include rowFlex;
        list-style-type: none;
        height: 100%;

        a {
            text-decoration: none;
            color: $text-color;
            padding: 0 15px;
            font-weight: bolder;

            &:hover {
                color: $main-color;
            }
        }
    }

    &__left {
        @include flexy;
    }

    &__right {
        @include flexy;
        justify-content: flex-end;
    }
}

.container__header {
    @include container($main-gradient, 100vh);

    .header {
        display: flex;
        justify-content: space-between;

        &__left {
            width: 40%;
            @extend %f-500;

            p {
                font-size: $text-size;
                margin-bottom: $padding-under;
            }
        }

        &__btn {
            @include btnz($secondary-color);
            outline: none;
            border: none;
        }

        &__icons {
            font-size: $smallicon;
            color: black;
        }

        &__right {
            width: 60%;

            img {
                width: 60%;
                float: right;
            }
        }
    }
}

.about {
    @include container(white, auto);
    height: auto;
    position: relative;
    padding-top: 0;
    text-align: center;
    @include colFlex;



    &__h1 {
        position: absolute;
        border: none;
        top: 75%;
        left: 0;
        margin-left: 8%;
        color: lighten($text-color, 30%);
        transform: rotate(270deg);
        transform-origin: 0;
        font-size: 4em;
    }

    &__img {
        width: $about-scale;
        border-right: 1em $main-color solid;
        border-bottom: 1em $main-color solid;
    }

    &__text {
        width: $about-scale;
        font-size: $text-size;
        text-align: justify;
    }
}

.proffs {
    @include container(white, auto);
    @include rowFlex;
    padding: 0;
    align-items: center;
    text-align: center;
    padding-bottom: $padding-under;

    &__item {
        @include colFlex;
        width: 100%;

        img {
            width: 100%;
            margin-top: $padding-above;
        }

        h3 {
            color: $text-color;
            font-size: $text-size;

        }
    }

}

.carousel {
    position: relative;
    background-color: lighten($text-color, 70%);
    padding: $padding-above 0;
    overflow: hidden;

    &__container {
        width: 40%;
        margin: $padding-above auto;
        padding: 0 4%;
    }

    &__slide {
        display: flex;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
    }

    img {
        width: 100%;
        transform: scale(0.8);
        transition-duration: .5s;
    }

    &__btn {
        position: absolute;
        top: 34%;
        left: 30%;
        display: flex;
        width: 40%;
        justify-content: space-between;

        button {
            @include carBtn;
        }
    }

    &__dots {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 8%;
        margin: 0 46%;

        &--dot {
            width: 1em;
            height: 1em;
            border-radius: 100px;
            background-color: $main-color;
        }
    }
}
